:root {
  --main-text-color: #121212;
  --second-text-color: #000000;
  --lite-text-color: #f7f7f7;
  --second-lite-text-color: #d8d7d7;
  --background-light-color: #d8d8d8;
  --background-dark-color: #121212;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
  background-color: var(--background-light-color);
  font-family: "DM+Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
}

.section {
  max-width: 375px;
  padding-top: 64px;

  outline: 1px solid blue;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding-top: 80px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1440px;
    padding-top: 100px;
  }
  .container {
    max-width: 1440px;
  }
}

/* ---header---  */

.header {
  padding-top: 0;
  background: #121212;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.57;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--lite-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-txt {
  margin-top: 3px;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--second-lite-text-color);
}

.social-icons {
  display: flex;
  gap: 14px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767.98px) {
  .header-nav,
  .social-nav {
    display: none;
  }
  .social-icons {
    margin-top: auto;
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .social-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .social-icons {
    gap: 16px;
  }
  .logo.head {
    margin-right: 120px;
  }
}

/* ---hero--- */

.hero {
  /* background: #121212; */
}

/* ----mobile menu---- */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-text-color);
  transition: transform 250ms ease-in-out;
  transform: translateX(130%);
  padding-bottom: 24px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  left: 20px;
  top: 25px;
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .logo {
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 128px;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  color: var(--lite-text-color);
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

/* @media screen and (min-width: 420px) {

  .social-icon {
    gap: 56px;
  }
} */

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-close {
  position: absolute;
  top: 25px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark-color);
  cursor: pointer;
  border: none;
}

.icon-close {
  width: 24px;
  height: 24px;
}
.modal-title {
  display: block;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-group {
  position: relative;
}

.modal-lable {
  position: absolute;
  top: -18px;
  color: var(--border-icon-color);
  font-size: 12px;
  letter-spacing: 0.04em;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 26px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-svg {
  position: absolute;
  top: 8px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-svg {
  border: 4px;
  fill: var(--accent-color);
}

.modal-textarea {
  display: block;
  width: 360px;
  height: 120px;
  margin-bottom: 24px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 100%;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.33;
}

.accept-group {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #757575;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.accept-check {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--second-background-color);
  border-radius: 2px;
  transition: border-color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;
}

.accept-check:checked {
  border-color: var(--button-hover-color);
  background-color: var(--button-hover-color);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.accept-txt {
  margin-left: 8px;
  user-select: none;
}

.accept-policy {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.btn-accept {
  display: block;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-accept:hover,
.btn-accept:focus {
  background-color: var(--button-hover-color);
}
